[buildout]
develop = .
parts = interpreter test

[interpreter]
recipe = zc.recipe.egg
interpreter = python
eggs = Products.ExternalMethod

[test]
recipe = zc.recipe.testrunner
eggs = Products.ExternalMethod
